.App{
    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttonc{
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding: 8px 20px;
    border-radius: 9999px;
    outline: 0;
    border: 0;
}